@tailwind base;
@tailwind components;
@tailwind utilities;

html{

  /* background-color: #282c34; */

}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes fadeinbot {
  0% { opacity: 0; margin-bottom: 100%;}
  100% { opacity: 1; margin-bottom: 0.5rem;}
}

@keyframes fadein {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

.cover-text{

  @apply text-5xl xl:text-4xl text-white xl:p-0;

}
.cover-text-container{

  @apply basis-1/3 h-full;

}

.transparent{
  opacity: 0;
}


.carousel-img{
  /* max-height: 600px; */
  /* height: 600px;
  width: fit-content; */
  @apply md:h-96;
}
.animation-1{
  animation-name: fadeinbot;
  animation-duration: 2s;
  animation-iteration-count: 1

}

.fade-in{
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1

}

.card-lg{
  @apply w-full rounded-2xl shadow-2xl shadow-black md:shadow-none h-96 flex flex-col relative break-words;
}

.card{
  /* @apply bg-slate-200 rounded-xl text-left p-5 mt-5 m-2 */
  /* @apply bg-slate-100 rounded-xl text-left p-5 mt-5 m-2; */
  @apply bg-slate-100 rounded-xl text-left p-5 mt-5 m-2;
  /* @apply bg-blue-100 rounded-xl text-left p-5 mt-5 m-2; */
  
}

.card-title{
  @apply text-3xl font-semibold 
}

.card-text{
  @apply text-xl pt-5 
}

.carousel-images__text{
  @apply text-white absolute bg-neutral-900/70 p-1 rounded-2xl text-sm
}

.carousel-images{
  @apply block sm:h-full md:h-full lg:w-3/4;
  background-color: rgb(234 88 12);
  
}

.btn{
  color: white;
  border-radius: 1rem;
  background-color: rgb(234 88 12);
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.7rem;
}

.App {
  text-align: center;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
